:root {
    --main-light-color: #fff;
    --main-dark-color: #212121;

    --main-font-color: #757575;
    --secondary-font-color: #000;
    --accent-color: #2196f3;

    --section-bg-color: #fff;
    --section-bg-secondary-color:#F5F4FA;
    --eection-bg-accent-color: #2f303a;

    --btn-color:#F5F4FA;
    --btn-active-color:#2196F3;
}
/*Global styles*/
.list {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
body {
    font-family: Roboto, sans-serif;

    color: var(--main-font-color);
    background-color: var(--section-bg-color);
}
.work-title,
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-dark-color);
}

.button {
    font-family: inherit;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--btn-color);
    background-color: var(--btn-active-color);
}
.button:hover,
.button:focus {
    background-color: #188CE8;
}
.accent {
    color: var(--accent-color);
}
/*header*/
.header {
    background-color: var(--main-light-color);
    border-bottom: 1px;
}
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;

    color: var(--secondary-font-color);
}
.nav-list .link {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;

    color: var(---main-dark-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
   color:var(--accent-color);
}

.contact-list .link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--main-font-color)
}
.contact-list .link:hover,
.contact-list .link:focus {
    color:var(--accent-color);
}
.hero {
    background-color: var(--eection-bg-accent-color);
}
.hero-title {
        
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;


    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--main-light-color);
}
.benefits-item-title {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-dark-color);
}
.benefits-item-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.team {
    background-color: var(--section-bg-secondary-color);
}
.team-item {
    background-color: var(--section-bg-color);
}
.team-item-title {
font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
letter-spacing: 0.03em;

color: var(--main-dark-color);
}
.team-item-text {
font-size: 16px;
line-height: calc(19/16);
letter-spacing: 0.03em;
}
.footer {
    background-color: var(--eection-bg-accent-color);
}
.footer .logo {
    color: var(--main-light-color);
}
.address-item {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.address-link {
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.map {
    color: var(--main-light-color);
}

/* --------PORTFOLIO-------- */
.button-list {
}
.list {
}
.button-item {
}
.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--main-dark-color);
    background-color: var(--btn-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--main-light-color);
    background-color: var(--btn-active-color);
}
.portfolio-item-title {
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;

color: var(--main-dark-color);
}
.portfolio-item-text {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
}